@font-face {
    font-family: "roboto";
    src: url("fonts/Roboto-Light.woff2") format("woff2"), url("fonts/Roboto-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "roboto";
    src: url("fonts/Roboto-Regular.woff2") format("woff2"), url("fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "roboto";
    src: url("fonts/Roboto-Medium.woff2") format("woff2"), url("fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "roboto";
    src: url("fonts/Roboto-Bold.woff2") format("woff2"), url("fonts/Roboto-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
body {
    font-family: "roboto", sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
.nav img {
    width: 20px;
    height: 26px;
}
.nav ul {
    display: flex;
    align-items: center;
}
.nav a {
    text-decoration: none;
    color: #e8e7e7;
    border-bottom: 1px solid transparent;
}
.nav ul a:hover {
    border-bottom: 1px solid #000;
    color: #000;
}
.nav li {
    list-style-type: none;
    margin-right: 30px;
    color: #e8e7e7;
}

.nav .container {
    display: flex;
    justify-content: space-between;
}
.nav {
    padding: 30px;
}
.nav ul li input {
    border: none;
    border-bottom: 1px solid black;
    /*text-align: center;*/
    outline: none;
}
.nav input::placeholder {
    color: #e8e7e7;
    font-size: 14px;
}

.button {
    text-decoration: none;
    color: #e8e7e7;
    font-size: 20px;
    font-weight: 700;
    padding: 8px 16px;
    background-color:  #f2403a;
    border-radius: 4px;
}
.button:hover {
    background-color:#ea615d;
    transition: width 0.5s ease;
}
.header {
    height: 100vh;
    background-image: url("icon/watch.jpg");
    background-repeat: no-repeat;
    background-position: top 20px right -100px;
    display: flex;
    align-items: center;
}
.header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero p {
    font-size: 16px;
    font-weight: 300;
    color: #999;
    margin-bottom: 30px;
    border-left: 2px solid #999;
    padding-left: 20px;
}
.hero h1 {
    color: black;
    padding-bottom: 40px;
    font-size: 60px;
    font-weight: 700;
}
.hero {
    width: 50%;
    font-size: 25px;
    margin-top: 0;
    height: 50vh;
}

.menu {
    width: 100%;
    display: flex;
    padding-top: 30px;
    align-items: center;
}
.menu .container {
    display: flex;
}

.box-1 {
    width: 360px;
    padding: 5px 25px;
    font-size: 15px;
    margin-bottom: 200px;
}

.box-1 h3 {
    margin: 30px 0;
}
.box-1 .kub {
    background-color: #999;
    width: 4px;
    height: 4px;
    display: inline-block;
    margin-top: 25px;
}
.link {
    color: red;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    
}
.link::before {
    content: "";
    width: 50px;
    height: 2px;
    background: red;
    display: inline-block;
    margin-right: 10px;
    transition: width 0.4s ease;
}
.link:hover::before {
    width: 80px;
}
.cuccess {
    margin-right: 50px;
    margin-bottom: 20px;
}
.success .container {
    align-items: center;
    display: flex;
}
.success .nike {
    width: 100%;
    font-size: 40px;
    margin-top: 0;
    /*height: 60vh;*/
}
.success .nike h2 {
    color: #000;
    font-size: 60px;
    padding-bottom: 25px;
    margin-right: 20px;
}
.success .nike p {
    font-size: 18px;
    color: #999;
    margin-bottom: 30px;
    border-left: 2px solid #999;
    padding-left: 20px;
    margin-right: 60px;
}
/*.success .nike a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 6px 14px;
    background-color: red;
    border: 3px solid white;
    border-radius: 5px;
}*/
.success .image {
    width: 100%;
    margin-right: 40px;
    margin-bottom: 60px;
}
.last {
    background-image: url(icon/sport.avif);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
}
.last .container .warning {
    width: 50%;
}

.last .container {
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
.last .bg-gray {
    background: rgba(0, 0, 0, 0.2);
}
.last .container .warning h1 {
    color: #fff;
    font-size: 60px;
    padding-bottom: 25px;
}
.last .container .warning p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
    border-left: 2px solid #999;
    padding-left: 20px;
    margin-right: 60px;
}
/*.last .container .warning a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 6px 14px;
    background-color: red;
    border: 3px solid red;
    border-radius: 5px;
}*/
